# Ignore all
*

# Keep local deps
!local
!local/**

# Keep JS things
!public
!public/**
!src
!src/**
!babel.config.js
!.env.example
!tsconfig.json
!bue.congif.js
!yarn.lock

# Keep deployment/make things
!docker-compose.yml
!Dockerfile
!Makefile
!nginx.conf
